---
results:
  - stat: $12 Billion
    category: CLO Securitisation
  - stat: $10 Billion
    category: RMBS Securitisation
  - stat: $2 Billion
    category: Capital Relief Transactions
work:
  - image: images/Bill-64.png
    image-alt: Paper Plane
    title: Collateral Management
    description: Investment management of fixed income portfolios, with specific expertise in bank loans, structured finance, asset-backed securities and high yield bonds.
  - image: images/Business-64.png
    image-alt: Chart
    title: Structured Credit
    description: Structuring and distribution of structured credit portfolios, including loan securitsations, CLOs, RMBS and receivables.
  - image: images/Document-64.png
    image-alt: Globe
    title: Capital Advisory & Financial Analytics
    description: Methodologies and analytics for loan deconsolidation processes and capital efficient strategies for ADIs. Return on risk forecasting and deal due diligence.
---

<!DOCTYPE html>
<html>
  <head>
    <!---Title--->
    <title>Woolar Capital - Structured Credit Advisors</title>
    <!-- Mobile Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!---icon stylesheet--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!---Gridlex stylesheet--->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.4/gridlex.min.css">
    <!---font stylesheet--->
    <link href="https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One" rel="stylesheet">
    <!---master stylesheet--->
    <link rel="stylesheet" type="text/css" href="CSS/style.css" />
  </head>
  <body>
    <!---This is the header--->
    <header class="grid">
      <img class="logo" src="images/Woolar-Capital-biggersquares.png">
      <nav class=tablet-hide>
        <div class="nav-link">
          <a href="#whatwedo">What We Do</a>
        </div>
        <div class="nav-link">
          <a href="#team">Team</a>
        </div>
        <div class="nav-link">
          <a href="#results">Results</a>
        </div>
        <div class="nav-link">
          <a href="#ourwork">Our Work</a>
        </div>
        <div class="nav-link">
          <a href="#contact">Contact Us</a>
        </div>
      </nav>

<!---This is the hamburger menu--->

      <nav class="tablet-show">
      <div class="burger-button">
          <span class="burger-top"></span>
          <span class="burger-middle"></span>
          <span class="burger-bottom"></span>
      </div>
       <div class="burger-menu">
        <ul>
          <li>
            <a href="#whatwedo">What We Do</a>
          </li>
          <li>
            <a href="#team">Team</a>
          </li>
          <li>
            <a href="#results">Results</a>
          </li>
          <li>
            <a href="#ourwork">Our Work</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        <ul>
      </div>
    </nav>
    </header>
    <!---Header banner section--->
    <section id="home" class="banner">
      <div class="banner-content">
        <h1>
          Structured Credit Advisors
          <div class="small">Improving Risk Adjusted Returns</div>
        </h1>
      </div>
    </section>
    <!---What We Do section--->
    <section id="whatwedo" class="what-we-do">
      <h2>What We Do</h2>
        <p>
          We provide high-value advice and investment services to structured credit portfolios, securitisations, capital relief transactions and fixed income investments.</p>
          <p>
            Our experience spans across buy and sell-sides of the fixed income spectrum in Australia, Asia, Europe and the United States. We have structured, traded and managed portfolios of  corporate loans and bonds, residential mortgages, commercial mortgages and other fixed-income assets.</p>
          <p>
            We view this as a future high-growth area within Australia.</p>
    </section>
    <!---The Team section--->
    <section id="team" class="our-team">
      <h2>Our Team</h2>
    </section>
      <section class="grid">
      <div class="col-6_sm-12">
        <h3>Jordan Belfort</h3>
        <h4>Partner</h4>
        <p class="bio">
          Owen is an accomplished, versatile and globally experienced investment banker. He has an in-depth understanding of the credit financial markets and worked with research analysts and clients assessing the fundamental, technical and liquidity aspects to determine appropriate risk trades across the capital structure. Over the course of his career, Owen has been successful in identifying and converting opportunities into specific business strategies and investments. He spent more than 15 years in the UK working at Citi and then Goldman Sachs.
        </p>
      </div>
      <div class="col-6_sm-12 top-pic">
        <img src="images/Jordan.jpg" alt="Owen Hereford" class="partner-pic">
      </div>
    </section>
    <section class="grid">
      <div class="col-6_sm-12">
        <img src="images/Gecko.jpg" alt="Damian Horton" class="partner-pic">
      </div>
      <div class="col-6_sm-12">
        <h3>Gordon Gecko</h3>
        <h4>Partner</h4>
        <p class="bio">
          Damian is a commercial quantitative analyst with deep experience across the buy and sell sides of the structured credit industry. He has extensive technical capabilities in financial engineering, modelling, portfolio analysis, stress testing and arbitrage formation having worked in fixed income trading and structuring for JP Morgan, fixed income portfolio management at Pioneer Investments and Prudential Financial (Pramerica), and economic and regulatory modelling at Macquarie.
        </p>
      </div>
    </section>
    <!---Past Results section--->
    <section id="results" class="grid results">
      <h2 class= "col-12">Results</h2>
        {% for result in page.results %}
      <div class="col-4_sm-12">
      <h2 class="big-stat">{{result.stat}}</h2>
      <h4>{{result.category}}</h4>
      </div>
        {% endfor %}
    </section>
    <!---Our work section--->
    <section id="ourwork" class="our-work">
      <h2>Our Work</h2>
      <div class="grid">
        {% for skill in page.work %}
        <div class="col-4_sm-12">
        <img src="{{skill.image}}" alt="{{skill.image-alt}}"/i>
        <h4>{{skill.title}}</h4>
        <p class="mob-hide">
        {{skill.description}}
        </p>
        </div>
      {% endfor %}
      </div>
    </section>
    <!---Contact form section--->
    <section id="contact" class="contact">
      <h2>Contact Us</h2>
          <form action="https://formspree.io/damian@huffle.com.au" class="grid" method="post">
            <div class="col-6_sm-12">
              <input type="text" name="name" placeholder="Name">
              <input type="email" name="_replyto" placeholder="Email">
            </div>
            <div class="col-6_sm-12">
              <textarea type="text" name="enquiry" placeholder="Your enquiry"></textarea>
              <input type="submit" value="Send" class="btn btn-primary">
            </div>
            <input type="hidden" name="_next" value="../thanks.html">
            <input type="hidden" name="_subject" value="Woolar Website Enquiry">
            <input type="text" name="_gotcha" style="display:none">
          </form>
    </section>
    <!---Footer section--->
    <footer class="grid-middle">
      <div class="col-4_sm-12">
        <img class="logo" src="images/Woolar-Capital.png" alt="Woolar Logo">
      </div>
      <div class="col-4_sm-0_xs-0 footer-text">
        <p>
         Woolar Capital
        </p>
      </div>
      <div class="col-4_sm-12 footer-links">
        <i class="fa fa-facebook-square label-icon" aria-hidden="true"></i>
        <i class="fa fa-instagram label-icon" aria-hidden="true"></i>
        <i class="fa fa-envelope label-icon" aria-hidden="true"></i>
      </div>
      <div class="col-12 footer-copyright">
        <p>
          Copyright JL 2017
        </p>
      </div>
    </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/jquery.smooth-scroll.min.js">
    </script>


    <script src=/js/script.js></script>

  </body>
</html>
