---
results:
  - stat: $10 Billion+
    category: RMBS Securitization
  - stat: $500 Million
    category: CLOs Sold
  - stat: $7 Billion+
    category: CDOs Structured
work:
  - image: images/Bill-64.png
    image-alt: Paper Plane
    title: Credit Risk
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  - image: images/Business-64.png
    image-alt: Chart
    title: Derivative Trading
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  - image: images/Document-64.png
    image-alt: Globe
    title: Bond Structuring
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
---

<!DOCTYPE html>
<html>
  <head>
    <!-- Mobile Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!---icon stylesheet--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!---Gridlex stylesheet--->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.4/gridlex.min.css">
    <!---font stylesheet--->
    <link href="https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One" rel="stylesheet">
    <!---master stylesheet--->
    <link rel="stylesheet" type="text/css" href="CSS/style.css" />
  </head>
  <body>
    <!---This is the header--->
    <header class="grid">
      <img class="logo" src="http://turquoise-cattle.cloudvent.net/images/Woolar_Logo_v2.png">
      <nav>
        <div class="nav-link">
          <a href="#whatwedo">What We Do</a>
        </div>
        <div class="nav-link">
          <a href="#team">Team</a>
        </div>
        <div class="nav-link">
          <a href="#results">Results</a>
        </div>
        <div class="nav-link">
          <a href="#ourwork">Our Work</a>
        </div>
      </nav>
    </header>
    <!---Header banner section--->
    <section id="home" class="banner">
      <div class="banner-content">
        <h1>
          Structured Credit Advisors
          <div class="small">Improving Risk Adjusted Returns</div>
        </h1>
      </div>
    </section>
    <!---What We Do section--->
    <section id="whatwedo" class="what-we-do">
      <h2>What We Do</h2>
        <p>
          Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
        </p>
    </section>
    <!---The Team section--->
    <section id="team" class="our-team">
      <h2>Our Team</h2>
    </section>
      <section class="grid">
      <div class="col-6_sm-12">
        <h3>Owen Hereford</h3>
        <h4>Partner</h4>
        <p>
          Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
        </p>
      </div>
      <div class="col-6_sm-12 top-pic">
        <img src="images/Owen.jpg" alt="Owen Hereford" height="300" width="300">
      </div>
    </section>
    <section class="grid">
      <div class="col-6_sm-12">
        <img src="images/Damian.jpg" alt="Damian Horton" height="300" width="300">
      </div>
      <div class="col-6_sm-12">
        <h3>Damian Horton</h3>
        <h4>Partner</h4>
        <p>
          Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
        </p>
      </div>
    </section>
    <!---Past Results section--->
    <section id="results" class="grid results">
      <h2 class= "col-12">Results</h2>
        {% for result in page.results %}
      <div class="col-4_sm-12">
      <h2 class="big-stat">{{result.stat}}</h2>
      <h4 class="big-stat">{{result.category}}</h4>
      </div>
        {% endfor %}
    </section>
    <!---Our work section--->
    <section id="ourwork" class="our-work">
      <h2>Our Work</h2>
      <div class="grid">
        {% for skill in page.work %}
        <div class="col-4_sm-12">
        <img src="{{skill.image}}" alt="{{skill.image-alt}}"/i>
        <h4>{{skill.title}}</h4>
        <p class="mob-hide">
        {{skill.description}}
        </p>
        </div>
      {% endfor %}
      </div>
    </section>
    <!---Contact form section--->
    <section id="contact" class="contact">
      <h2>Contact Us</h2>
        <p>
          This is where the contact form will go
        </p>
    </section>
    <!---Footer section--->
    <footer class="grid">
      <div class="col-4">
        <img class="logo" src="http://turquoise-cattle.cloudvent.net/images/Woolar_Logo_v2.png" alt="Woolar Logo">
      </div>
      <div class="col-4 footer-text">
        <p>
         Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
        </p>
      </div>
      <div class="col-4 footer-links">
        <i class="fa fa-facebook-square label-icon" aria-hidden="true"></i>
        <i class="fa fa-instagram label-icon" aria-hidden="true"></i>
        <i class="fa fa-envelope label-icon" aria-hidden="true"></i>
      </div>
      <div class="col-12 footer-copyright">
        <p>
          Copyright JL 2017
        </p>
      </div>
    </footer>
  </body>
</html>
