<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.4/gridlex.min.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="CSS/style.css" /> --> -->
  </head>
  <body class="grid">
    <header class="grid">
      <img class="logo" src="http://turquoise-cattle.cloudvent.net/images/Woolar_Logo_v2.png">
      <nav>
        <div class="nav-link">
          <a href="#whatwedo">What We Do</a>
        </div>
        <div class="nav-link">
          <a href="#team">Team</a>
        </div>
        <div class="nav-link">
          <a href="#results">Results</a>
        </div>
        <div class="nav-link">
          <a href="#ourwork">Our Work</a>
        </div>
      </nav>
    </header>
    <section id="home" class="banner col-12">
      <div class="banner-content">
        <h1>
          Structured Credit Advisors
          <div class="small">Improving Risk Adjusted Returns</div>
        </h1>
      </div>
    </section>
    <section id="whatwedo" class="col-12">
      <h2>What We Do</h2>
        <p>
          Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
        </p>
    </section>
    <section id="team" class="content-section col-12">
      <h2>Our Team</h2>
    </section>
      <section class="col-6">
      <div class="content-block col-6">
        <h3>Owen Hereford</h3>
        <h4>Partner</h4>
        <p>
          Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
        </p>
      </div>
    </section>
    <section class="col-6">
      <div class="content-block">
        <img src="images/Owen.jpg" alt="Owen Hereford">
      </div>
    </section>
      <div class="content-block col-6">
        <img src="images/Damian.jpg" alt="Damian Horton">
      </div>
    </section>
    <section class="col-6">
      <div class="content-block">
        <h3>Damian Horton</h3>
        <h4>Partner</h4>
        <p>
          Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
        </p>
      </div>
    </section>
    <section id="results" class="grid">
      <h2 class= "col-12">Results</h2>
      <div class="col-4">
      <h2 class="big-stat">$10 BILLION+</h2>
      <h4 class="big-stat">RMB Securitization</h4>
      </div>
      <div class="col-4">
      <h2 class="big-stat">200</h2>
      <h4 class="big-stat">Corporate Partners</h4>
      </div>
      <div class="col-4">
      <h2 class="big-stat">$40 BILLION+</h2>
      <h4 class="big-stat">CDOs Structured</h4>
      </div>
    </section>
    <section id="ourwork" class="col-12">
      <h2>Our Work</h2>
      <div class="grid">
        <div class="col-4">
        <p>
          Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
        </p>
        </div>
      </div>
    </section>
    <footer class="grid">
      <div class="col-4">
        <img class="logo" src="http://turquoise-cattle.cloudvent.net/images/Woolar_Logo_v2.png">
      </div>
      <div class="col-4 footer-text">
        <p>
         Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
        </p>
      </div>
      <div class="col-4 footer-links">
        <i class="fa fa-facebook-square label-icon" aria-hidden="true"></i>
        <i class="fa fa-instagram label-icon" aria-hidden="true"></i>
        <i class="fa fa-envelope label-icon" aria-hidden="true"></i>
      </div>
      <div class="col-12 footer-copyright">
        <p>
          Copyright JL 2017
        </p>
      </div>
    </footer>
  </body>
</html>
